# Weather Project - Rain  Precipation between Seattle and Honolulu - Data Analysis

## Import Libraries

In [3]:
# Import pandas, numpy, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# seaborn is a data visualization library built on matplotlib
import seaborn as sns

# set the plotting style
sns.set_style("whitegrid")

## Load cleaned data

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/JLichwa80/weather/refs/heads/main/data/seattle_honolulu_rain_clean.csv')

In [6]:
df

            date      city  precipitation  day_of_year
0     2018-01-01   Seattle           0.00            1
1     2018-01-02   Seattle           0.00            2
2     2018-01-03   Seattle           0.00            3
3     2018-01-04   Seattle           0.00            4
4     2018-01-05   Seattle           0.25            5
...          ...       ...            ...          ...
3647  2022-12-27  Honolulu           0.00          361
3648  2022-12-28  Honolulu           0.00          362
3649  2022-12-29  Honolulu           0.00          363
3650  2022-12-30  Honolulu           0.00          364
3651  2022-12-31  Honolulu           0.00          365

[3652 rows x 4 columns]

## Analyze the data to compare rain precipitation between Seattle and Honolulu