# Weather Project - Rain  Percipation between Seattle and Honolulu

## Import Libraries

In [1]:
# Import pandas, numpy, and matplotlib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# seaborn is a data visualization library built on matplotlib
import seaborn as sns

# set the plotting style
sns.set_style("whitegrid")

## Load the data

### Seattle

In [3]:
df_seattle = pd.read_csv('https://raw.githubusercontent.com/JLichwa80/weather/refs/heads/main/data/seattle_rain.csv')

In [4]:
df_seattle.head()

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW,SNWD,WESD,WESF
0,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/1/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
1,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/2/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
2,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/3/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
3,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/4/18,NaN,NaN,0.00,NaN,NaN,NaN,NaN
4,US1WAKG0225,"SEATTLE 2.1 ESE, WA US",1/5/18,NaN,NaN,0.25,NaN,NaN,NaN,NaN

### Honolulu

In [6]:
df_honolulu = pd.read_csv('https://raw.githubusercontent.com/JLichwa80/weather/refs/heads/main/data/hnl_rain.csv')

In [7]:
df_honolulu.head()

       STATION                                   NAME        DATE  PRCP
0  USW00022521  HONOLULU INTERNATIONAL AIRPORT, HI US  2018-01-01   0.0
1  USW00022521  HONOLULU INTERNATIONAL AIRPORT, HI US  2018-01-02   0.0
2  USW00022521  HONOLULU INTERNATIONAL AIRPORT, HI US  2018-01-03   0.0
3  USW00022521  HONOLULU INTERNATIONAL AIRPORT, HI US  2018-01-04   0.0
4  USW00022521  HONOLULU INTERNATIONAL AIRPORT, HI US  2018-01-05   0.0